$writer-font-stack:    Helvetica, sans-serif;
$font-color: #333;
$typeahead-font-color: lighten($font-color, 50%);

.write-block-container {
  width: 100%;
  height: 100%;
}

.write-block {
  width: 100%;
  height: 100%;
  font: 100%, $writer-font-stack;
  color: $font-color;
}

.typeahead {
  font: 100%, $writer-font-stack;
  color: $typeahead-font-color;
}
